.container__wrapper {
  margin: 20px 7px 0 7px;
  border-radius: 20px;
  position: relative;
  overflow-y: auto;
  width: 285px;
  height: 595px;
  text-align: center;
  background: #edf765;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  font-family: Muemo, sans-serif;
}
.content {
  height: 100%;
}
