.container__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  text-align: center;
  font-family: Muemo, sans-serif;
  color: #222222;
  margin: 10px;
  padding: 10px;
  background: #edf765;
}
.out__article {
  color: #7e1af0;
}
.out__topic,
.out__article {
  font-weight: bold;
  margin-top: 5px;
}
.working {
  color: #03f703;
}
.notworking {
  color: #ff1818;
}
.__list {
  text-align: right;
  padding: 10px;
}
