.container__wrapper {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px dotted rgb(184, 184, 184);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.__topic {
  margin: 10px;
  font-size: 18px;
  color: #000000;
}
.__btnWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.__done {
  color: #00d300;
  text-decoration: line-through;
}
