.__header {
  width: inherit;
  margin: 0 10px;
  padding: 10px;
  background-image: linear-gradient(
    to top left,
    rgb(247, 247, 247),
    rgb(230, 230, 245),
    rgb(212, 212, 243),
    rgb(195, 195, 242),
    rgb(178, 178, 240),
    rgb(161, 161, 238),
    rgb(143, 143, 236),
    rgb(126, 126, 234),
    rgb(109, 109, 232),
    rgb(92, 92, 231),
    rgb(68, 68, 238),
    rgb(47, 47, 235)
  );
}

.__article {
  padding: 10px;
  color: #fff;
}
