.__btn,
.__btn__cancel {
  margin: 5px;
  padding: 5px 15px;
  cursor: pointer;
  border-width: 2px;
  border-style: outset;
  border-color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.__btn {
  background-color: #00c21a;
}
.__btn__cancel {
  background-color: #cc0000;
}

.__btn:active,
.__btn__cancel:active {
  margin-top: 9px;
  border: none;
  box-shadow: none;
}
.__btn:hover {
  background-color: #00a10d;
}
.__btn__cancel:hover {
  background-color: #7a0000;
}
.btn_pos {
  padding: 0;
  left: 97%;
  width: 20px;
  top: 7px;
  z-index: 50;
  position: absolute;
}

.init__btn {
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 15px;
  width: 100%;
  height: 38px;
  padding: 2%;
  font-family: Muemo, sans-serif;
  outline: none;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  color: #faf38c;
  border: 1px solid #7c8a93;
  border-top: 1px solid #a1aeb7;
  border-bottom: 1px solid #5d6b75;
  box-shadow: inset 0 1px #d8e0e6, inset 1px 0 #b7c6d1, inset -1px 0 #b7c6d1,
    inset 0 -1px #a1b5c4, 0 2px #62727e, 0 3px #5d6b75,
    0 4px 2px rgba(0, 0, 0, 0.4);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #000000),
    color-stop(100%, #5ada9e)
  );
}
.init__btn:hover {
  border-top: 1px solid #96a2ab;
  box-shadow: inset 0 1px #c0ced7, inset 1px 0 #b7c6d1, inset -1px 0 #b7c6d1,
    inset 0 -1px #b9c8d3, 0 2px #62727e, 0 3px #5d6b75,
    0 4px 2px rgba(0, 0, 0, 0.4);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #64e6aa),
    color-stop(100%, #000000)
  );
  background-color: #5ada9e;
}
.init__btn:active {
  top: 3px;
  border: 1px solid #778998;
  border-top: 1px solid #606f7a;
  border-bottom: 1px solid #8296a6;
  background: #00ab1f;
  box-shadow: inset 0 1px 2px #5f7281;
}
.select__btn {
  font-weight: bold;
  margin-top: 10px;
  background-color: #039752;
  padding: 10px;
  cursor: pointer;
  outline: none;
  color: #faf38c;
  border: 1px solid #7c8a93;
  border-top: 1px solid #a1aeb7;
  border-bottom: 1px solid #5d6b75;
  box-shadow: inset 0 1px #d8e0e6, inset 1px 0 #b7c6d1, inset -1px 0 #b7c6d1,
    inset 0 -1px #a1b5c4, 0 2px #62727e, 0 3px #5d6b75,
    0 4px 2px rgba(0, 0, 0, 0.4);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #000000),
    color-stop(100%, #5ada9e)
  );
}
.select__btn:hover {
  border-top: 1px solid #96a2ab;
  box-shadow: inset 0 1px #c0ced7, inset 1px 0 #b7c6d1, inset -1px 0 #b7c6d1,
    inset 0 -1px #b9c8d3, 0 2px #62727e, 0 3px #5d6b75,
    0 4px 2px rgba(0, 0, 0, 0.4);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #64e6aa),
    color-stop(100%, #000000)
  );
  background-color: #5ada9e;
}
.select__btn:active {
  top: 3px;
  border: 1px solid #778998;
  border-top: 1px solid #606f7a;
  border-bottom: 1px solid #8296a6;
  background: #00ab1f;
  box-shadow: inset 0 1px 2px #5f7281;
}

.warning__closeBtn {
  width: 115px;
  height: 35px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: 1px solid #7c8a93;
  border-top: 1px solid #a1aeb7;
  border-bottom: 1px solid #5d6b75;
  box-shadow: inset 0 1px #d8e0e6, inset 1px 0 #b7c6d1, inset -1px 0 #b7c6d1,
    inset 0 -1px #a1b5c4, 0 2px #62727e, 0 3px #5d6b75,
    0 4px 2px rgba(0, 0, 0, 0.4);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #039752),
    color-stop(100%, #000000)
  );
}
.warning__closeBtn:hover {
  border-top: 1px solid #96a2ab;
  box-shadow: inset 0 1px #c0ced7, inset 1px 0 #b7c6d1, inset -1px 0 #b7c6d1,
    inset 0 -1px #b9c8d3, 0 2px #62727e, 0 3px #5d6b75,
    0 4px 2px rgba(0, 0, 0, 0.4);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #000000),
    color-stop(100%, #1b4a34)
  );
  background-color: #5ada9e;
}
.warning__closeBtn:active {
  top: 3px;
  border: 1px solid #778998;
  border-top: 1px solid #606f7a;
  border-bottom: 1px solid #8296a6;
  background: #00ab1f;
  box-shadow: inset 0 1px 2px #5f7281;
}
