.__btn__aprove:focus,
.__btn__cancel:focus,
.btn__add:focus,
.btn__clear:focus {
  border-color: #86a8df;
}

.__btn__aprove,
.__btn__cancel {
  margin: 5px;
  padding: 5px 15px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  border-width: 2px;
  border-style: outset;
  border-color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.__btn__aprove {
  color: #00c21a;
  border: 1px solid #00c21a;
}

.__btn__cancel {
  color: #ff0000;
  border: 1px solid #ff0000;
}

.__btn__aprove:active,
.__btn__cancel:active,
.btn__add:active,
.btn__clear:active {
  transform: scale(0.9);
  border: none;
  box-shadow: none;
}
.__btn__aprove:hover {
  color: #fff;
  border: none;
  padding: 6px 16px;
  background-color: #00a10d;
}
.__btn__cancel:hover {
  color: #fff;
  border: none;
  padding: 6px 16px;
  background-color: #d83131;
}
.btn__add {
  border: 1px solid #00c21a;
  margin: 5px;
  padding: 10px;
  color: #00a10d;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  border-width: 2px;
  border-style: outset;
  text-transform: uppercase;
  font-weight: bold;
}
.btn__add:hover {
  padding: 12px;
  color: #fff;
  border: none;
  background-color: #00a10d;
}
.btn__clear {
  border: 1px solid #a10030;
  margin: 5px;
  padding: 10px;
  color: #a10030;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  border-width: 2px;
  border-style: outset;
  text-transform: uppercase;
  font-weight: bold;
}
.btn__clear:hover {
  padding: 12px;
  color: #fff;
  border: none;
  background-color: #ff0000;
}
