.container__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}

@media (max-width: 780px) {
  .container__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
