.container {
  padding: 10px;
  position: absolute;
  top: 25vh;
  left: 39vw;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border: 3px solid #797979;

  background-color: #ffffff;
  width: 350px;
  height: 190px;
}
.parent {
  position: absolute;
  margin: 0;
  z-index: 50;
  background-color: rgb(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  animation: rollIn 0.3s linear forwards;
}

@keyframes rollIn {
  0% {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@media (max-width: 780px) {
  .container {
    left: 25%;
  }
}
