.container {
  padding: 10px;
  position: absolute;
  top: 25vh;
  left: 39vw;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border: 3px solid #797979;

  background-color: #ffffff;
  width: 350px;
  height: 190px;
}
.parent {
  position: absolute;
  margin: 0;
  z-index: 50;
  background-color: rgb(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  animation: rollIn 0.7s linear forwards;
}

@keyframes rollIn {
  0% {
    transform: translateY(-50%);
  }
  85% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0px);
  }
}
