.container__block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  position: relative;
  overflow-y: auto;
  width: 285px;
  height: 595px;
  overflow-y: auto;
  text-align: center;
  font-family: Muemo, sans-serif;
  color: #222222;
  margin: 20px 7px 0 7px;
  padding: 10px;
  background: #edf765;
}
